<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Missões</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>


  <ion-segment [(ngModel)]="mission" color="danger">
    <ion-segment-button value="todo">
      Novas
    </ion-segment-button>
    <ion-segment-button value="doing">
      Abertas
    </ion-segment-button>
    <ion-segment-button value="done">
      Realizadas
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="mission">
    <ion-list *ngSwitchDefault>
      <div>
        <div *ngFor="let p of atendimentos">
          <ion-card (click)="openPage(p)" *ngIf="p.STATUS==1">
            <ion-card-header>
              <h2><b>{{p.NOME_ORGAO}} - R${{p.PRECO_TOTAL}}</b></h2>
            </ion-card-header>
            <ion-card-content>
              <p>
                {{p.NOME_CONVENENTE}}<br>
                <ion-row>
                  <ion-col>
                    <ion-icon name="calendar"></ion-icon> {{p.DT_VIGENCIA_INICIAL}}</ion-col>
                  <ion-col>
                    <ion-icon name="calendar"></ion-icon>{{p.DT_VIGENCIA_ATUAL}}</ion-col>
                </ion-row><br>
                <p>{{p.NOMES_TIPOS_ATENDIMENTOS}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'doing'">
      <div *ngFor="let p of atendimentos">
        <ion-card (click)="openPage(p)" *ngIf="p.STATUS==2">
          <ion-card-header>
            <h2><b>{{p.NOME_ORGAO}} - R${{p.PRECO_TOTAL}}</b></h2>
          </ion-card-header>
          <ion-card-content>
            <p>
              {{p.NOME_CONVENENTE}}<br>
              <ion-row>
                <ion-col>
                  <ion-icon name="calendar"></ion-icon> {{p.DT_VIGENCIA_INICIAL}}</ion-col>
                <ion-col>
                  <ion-icon name="calendar"></ion-icon>{{p.DT_VIGENCIA_ATUAL}}</ion-col>
              </ion-row><br>
              <p>{{p.NOMES_TIPOS_ATENDIMENTOS}}</p>
          </ion-card-content>

        </ion-card>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'done'">
      <div *ngFor="let p of atendimentos">
        <ion-card (click)="openPage(p)" *ngIf="p.STATUS==3">
          <ion-card-header>
            <h2><b>{{p.NOME_ORGAO}} - R${{p.PRECO_TOTAL}}</b></h2>
          </ion-card-header>
          <ion-card-content>
            <p>
              {{p.NOME_CONVENENTE}}<br>
              <ion-row>
                <ion-col>
                  <ion-icon name="calendar"></ion-icon> {{p.DT_VIGENCIA_INICIAL}}</ion-col>
                <ion-col>
                  <ion-icon name="calendar"></ion-icon>{{p.DT_VIGENCIA_ATUAL}}</ion-col>
              </ion-row><br>
              <p>{{p.NOMES_TIPOS_ATENDIMENTOS}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>